$color-light: #ffffff;
$color-hover: #f5a32c;
$color-func: #CA7631;
$color-func-name: #72737A;
$color-var: #5191A6;
$color-dll: #8F75A9;
$color-met: #F4CE4F;

$content-width: 1440px;
$mobile-width: 360px;