.about {
  margin-bottom: 14px;
}

.about-text {
  line-height: 1.6;
}

.about__content {
  @include font($size: 1.6rem, $height: 2.1rem, $weight: 600);
  margin: 0;
}

.about__wrap ul {
  width: 800px;
  column-count: 3;
  list-style-type: disc;
  line-height: 1.6;
  margin-bottom: 0;
}

.about__item {
  margin-left: 30px;
}

.about__wrap ul {
  @include media-mobile {
    width: 100%;
    column-count: 1;
  }
}