.code h2 {
  margin: 0;
}
.code__block {
  margin-bottom: -20px;
}

.code__pre {
  display: block;
  margin: 0;
}

.code-bg {
  display: block;
  background: #000000;
}

.func {
  color: $color-func;
}

.func-name {
  color: $color-func-name;
}

.func-var {
  color: $color-var;
}

.func-dll {
   color: $color-dll;
 }

.func-method {
  color: $color-met;
}