.footer {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.footer__logo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo a {
  display: flex;
}

.logo-school {
  height: 65px;
  cursor: pointer;
}
