.header {
  display: flex;
  justify-content: right;
  width: 100%;
  background-color: gray;
  padding: 10px 0;
  user-select: none;
}
.header__navigation {
  width: 58%;
}

.header {
  @include media-mobile {
    height: 95px;
    align-items: center;
  }
}

.navigation {
  @include media-mobile {
    display: none;
  }
}